body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.containe {
    justify-content: space-between;
    display: flex;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul, nav li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav ul {
    display: flex;
}

nav a {
    text-decoration: none;
    padding: 15px;
    color: rgb(0, 0, 0);
}

nav .active a,
nav a:hover {
    background-color: blue;
    color: rgb(245, 245, 245);
    transition-duration: 0.8s;
}

#banner {
    background-image: url('../images/img1.jpeg');
    background-position: center;
    background-size: cover;
    height: 770px;
    display: flex;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_options {
    height: 220px;
    display: flex;

}

.banner_headline h1 {
    color: rgb(255, 255, 255);
    font-size: 37px;
    text-shadow: 0px 1px 0px #e9e2e2;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
}

.banner_headline h2 {
    color: aliceblue;
    font-size: 39px;
    text-shadow: 0px 1px 0px #555;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: aliceblue;
    padding: 20px;
}

.banner1 {
    background-color: blue;

}

.banner2 {
    background-color: blue;
}

.banner3 {
    background-color: blue;
}

.banner_title {
    font-size: 21px;
}

.banner_desc {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_options a {
    border: 1px solid #e9e2e2;
    padding: 4px;
    color: #e9e2e2;
    font-size: 12px;
    text-decoration: none;
}

#geral {
    display: flex;
    justify-content: center;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: #000;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar {
    width: 50px;
    height: 5px;
    background-color: aqua;
    margin-top: 10px;
}

#rodaope {
    background-color: black;
    display: flex;
    justify-content: center;
    height: 40px;
    line-height: 40px;
    color: #000;
    font-size: 12px;
    margin-top: 30px;
}

@media (max-width: 800px) {
    header {
        height: 70px;
    }

    .logo {
        margin-bottom: 5px;
    }

    nav ul,
    nav li {
        font-size: 0.9em;
        margin-bottom: 2px;
    }

    nav a {
        padding: 5px;
    }

    .banner_headline h1 {
        font-size: 55px;
        padding: 20px;
    }

    .banner_headline h2 {
        font-size: 17px;
    }

    .banner_options {
        height: auto;
        flex-direction: column;
    }
    .containe {
        flex-direction: column;
    }
    #geral {
        flex-direction: column;
        padding: 20px;
    }
    #rodape{
        flex-direction: column;
        padding: 20px;
    }
}